In [1]:
import numpy as np
import pandas as pd
from scipy.stats import iqr, scoreatpercentile

# Introduction

**We know that that heatwave is the extented period of time when extremely high temperatures are observed relative to the climate of the location. In many literatures the severity of the heatwave is represented by the Excess Heat Factor (EHF) [Nairn et al., 2015](https://pubmed.ncbi.nlm.nih.gov/25546282/) and mathematically it is defined to be:**

$$EHF=EHI_{sig}*max(1, EHI_{accl})$$

where

$$EHI_{sig}=(T_i+T_{i+1}+T_{i+2})/3-T_{95}$$ 
$$EHI_{accl}=(T_i+T_{i+1}+T_{i+2})/3-(T_{i-1}+T_{i-2}+...+T_{i-30})/30$$

**$T_{95}$ is calculated by taking the 95th percetile of the $T_i$s thoughout the year. $T_i$ of the day is found as the mean of the temperatures recorded on the day. Of course the measurements must be equally spaced. Then if we find out that the EHF is a positive number, the three days $T_i, T_{
i+1}, T_{i+2}$ are considered heatwave days**

**Then, the heatwave is considered severe if EHF>=EHF$_{85}$ where EHF$_{85}$ is 85th percentile of the positive EHFs thoughout the year**

# Data collection

**Using [Opendata meteo.be](https://opendata.meteo.be) the following temperature data was collected in csv format:**

*Cities: Brussels, Antwerp, Liege*

*Period: 1952-2021*

*Frequency: Hourly*

# Data cleaning and transformation

In [2]:
Brussels=pd.read_csv("./data/Brussels.csv")
Antwerp=pd.read_csv("./data/Antwerp.csv")
Liege=pd.read_csv("./data/Liege.csv")

In [3]:
Brussels.head()

,FID,the_geom,code,timestamp,precip_quantity,precip_range,temp,temp_min,temp_max,temp_grass_min,...,wind_speed_unit,wind_direction,wind_peak_speed,humidity_relative,weather_current,pressure,pressure_station_level,sun_duration_24hours,short_wave_from_sky_24hours,cloudiness
0,synop_data.6451.1952-01-01 00:00:00+00,POINT (50.896391 4.526765),6451,1952-01-01T00:00:00,NaN,NaN,3.0,NaN,NaN,NaN,...,NaN,90.0,NaN,NaN,61.0,1005.5,NaN,NaN,NaN,8.0
1,synop_data.6451.1952-01-01 03:00:00+00,POINT (50.896391 4.526765),6451,1952-01-01T03:00:00,NaN,NaN,3.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,50.0,1003.1,NaN,NaN,NaN,8.0
2,synop_data.6451.1952-01-01 06:00:00+00,POINT (50.896391 4.526765),6451,1952-01-01T06:00:00,2.0,2.0,3.0,3.0,NaN,NaN,...,NaN,250.0,NaN,NaN,51.0,1004.0,NaN,NaN,NaN,8.0
3,synop_data.6451.1952-01-01 09:00:00+00,POINT (50.896391 4.526765),6451,1952-01-01T09:00:00,NaN,NaN,3.0,NaN,NaN,NaN,...,NaN,270.0,NaN,NaN,21.0,1006.9,NaN,NaN,NaN,5.0
4,synop_data.6451.1952-01-01 12:00:00+00,POINT (50.896391 4.526765),6451,1952-01-01T12:00:00,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,260.0,NaN,NaN,25.0,1009.2,NaN,NaN,NaN,6.0

**As we are using only the information on temperature we need to keep only the timestamp and the temperature**

In [4]:
Brussels=Brussels[["timestamp", "temp"]]
Antwerp=Antwerp[["timestamp", "temp"]]
Liege=Liege[["timestamp", "temp"]]

In [5]:
Brussels.head()

             timestamp  temp
0  1952-01-01T00:00:00   3.0
1  1952-01-01T03:00:00   3.0
2  1952-01-01T06:00:00   3.0
3  1952-01-01T09:00:00   3.0
4  1952-01-01T12:00:00   4.0

In [6]:
cities=[Brussels, Antwerp, Liege]
for city in cities:
    city['timestamp_formatted']=pd.to_datetime(city['timestamp'])

In [7]:
Brussels.head()

             timestamp  temp timestamp_formatted
0  1952-01-01T00:00:00   3.0 1952-01-01 00:00:00
1  1952-01-01T03:00:00   3.0 1952-01-01 03:00:00
2  1952-01-01T06:00:00   3.0 1952-01-01 06:00:00
3  1952-01-01T09:00:00   3.0 1952-01-01 09:00:00
4  1952-01-01T12:00:00   4.0 1952-01-01 12:00:00

In [8]:
Brussels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420595 entries, 0 to 420594
Data columns (total 3 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   timestamp            420595 non-null  object
 1   temp                 420261 non-null  float64
 2   timestamp_formatted  420595 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 9.6+ MB

In [9]:
for city in cities:
    city['year']=city['timestamp_formatted'].dt.year
    city['month']=city['timestamp_formatted'].dt.month
    city['day']=city['timestamp_formatted'].dt.day
    city['hour']=city['timestamp_formatted'].dt.hour
    city.drop(labels=['timestamp','timestamp_formatted'], axis=1, inplace=True)

In [10]:
Brussels.head(10)

   temp  year  month  day  hour
0   3.0  1952      1    1     0
1   3.0  1952      1    1     3
2   3.0  1952      1    1     6
3   3.0  1952      1    1     9
4   4.0  1952      1    1    12
5   5.0  1952      1    1    15
6   3.0  1952      1    1    18
7   2.0  1952      1    1    21
8   3.0  1952      1    2     0
9   3.0  1952      1    2     3

In [11]:
Bru_summer=Brussels[Brussels['month'].isin([5,6,7,8])]

In [12]:
Ant_summer=Antwerp[Antwerp['month'].isin([5,6,7,8])]

In [13]:
Lie_summer=Liege[Liege['month'].isin([5,6,7,8])]

**Problems might arise with calculating the mean teperature of the day correctly**
1. Not enough observations 
2. Observations are not regularly spaced

# 1

**Here we find the days where the number of observations was less than 4**

In [14]:
pd.set_option('display.max_rows', 300)

In [15]:
Bru_count=Bru_summer.set_index(['year', 'month', 'day']).groupby(level=[0, 1, 2]).count()[['temp']]
Bru_count[Bru_count['temp']<4]

                temp
year month day
1960 5     25      0

In [16]:
Ant_count=Ant_summer.set_index(['year', 'month', 'day']).groupby(level=[0, 1, 2]).count()[['temp']]
Ant_count[Ant_count['temp']<4]

                temp
year month day
1964 8     18      0
1978 5     12      2

In [17]:
Lie_count=Lie_summer.set_index(['year', 'month', 'day']).groupby(level=[0, 1, 2]).count()[['temp']]
Lie_count[Lie_count['temp']<4]

                temp
year month day
1954 7     29      2
           30      2
1976 7     25      1

**Thus, we see that for Brussels there is only one day where we have no observation at all. For Antwerp, there are two days for which the number of observations is less than 4. For Liege, that number is only 3.**

# 2

**Here we check if the observations are regularly spaced (at least close to)**

In [18]:
Bru_summer=Bru_summer.reset_index().drop(columns=["index"])
Ant_summer=Ant_summer.reset_index().drop(columns=["index"])
Lie_summer=Lie_summer.reset_index().drop(columns=["index"])

In [19]:
Bru_summer['hour_unif']=Bru_summer['hour'].apply(lambda x: x/24)
Ant_summer['hour_unif']=Ant_summer['hour'].apply(lambda x: x/24)
Lie_summer['hour_unif']=Lie_summer['hour'].apply(lambda x: x/24)

In [20]:
pd.set_option('max_colwidth', None)

In [21]:
Bru_spread=Bru_summer.set_index(['year', 'month', 'day']).groupby(level=[0, 1, 2])[['hour_unif']].agg(iqr)
Bru_spread['measurements']=Bru_summer.set_index(['year', 'month', 'day']).groupby(level=[0, 1, 2])['hour'].apply(list)
Bru_spread.rename(columns={'hour_unif':'iqr'}, inplace=True)

In [22]:
Bru_spread[np.logical_or(Bru_spread['iqr']>0.6, Bru_spread['iqr']<0.4)]

                 iqr                                   measurements
year month day
2004 6     3    0.25  [0, 4, 5, 6, 7, 8, 9, 10, 11, 12, 21, 22, 23]

In [23]:
Ant_spread=Ant_summer.set_index(['year', 'month', 'day']).groupby(level=[0, 1, 2])[['hour_unif']].agg(iqr)
Ant_spread['measurements']=Ant_summer.set_index(['year', 'month', 'day']).groupby(level=[0, 1, 2])['hour'].apply(list)
Ant_spread.rename(columns={'hour_unif':'iqr'}, inplace=True)

In [24]:
Ant_spread[np.logical_or(Ant_spread['iqr']>0.6, Ant_spread['iqr']<0.4)]

                     iqr  \
year month day
1978 5     12   0.062500
           13   0.312500
1980 5     3    0.312500
     7     26   0.312500
     8     2    0.312500
           3    0.312500
           4    0.312500
           5    0.312500
           6    0.312500
           7    0.312500
           8    0.312500
           9    0.312500
           10   0.312500
           11   0.312500
           19   0.312500
           20   0.312500
1981 7     7    0.312500
           8    0.312500
           9    0.312500
2004 6     3    0.250000
2006 6     2    0.333333

                                                                     measurements
year month day
1978 5     12                                                              [0, 3]
           13                                              [6, 9, 12, 15, 18, 21]
1980 5     3                                               [6, 9, 12, 15, 18, 21]
     7     26                                              [6, 9, 12, 15, 18, 21]
     8     2                                               [6, 9, 12, 15, 18, 21]
           3                                               [6, 9, 12, 15, 18, 21]
           4                                               [6, 9, 12, 15, 18, 21]
           5                                               [6, 9, 12, 15, 18, 21]
           6                                               [6, 9, 12, 15, 18, 21]
           7                                               [6, 9, 12, 15, 18, 21]
           8                                               [6, 9, 12, 15, 18, 21]
           9                                               [6, 9, 12, 15, 18, 21]
           10                                              [6, 9, 12, 15, 18, 21]
           11                                              [6, 9, 12, 15, 18, 21]
           19                                              [6, 9, 12, 15, 18, 21]
           20                                              [6, 9, 12, 15, 18, 21]
1981 7     7                                               [6, 9, 12, 15, 18, 21]
           8                                               [6, 9, 12, 15, 18, 21]
           9                                               [6, 9, 12, 15, 18, 21]
2004 6     3                        [0, 4, 5, 6, 7, 8, 9, 10, 11, 12, 21, 22, 23]
2006 6     2    [7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]

In [25]:
Lie_spread=Lie_summer.set_index(['year', 'month', 'day']).groupby(level=[0, 1, 2])[['hour_unif']].agg(iqr)
Lie_spread['measurements']=Lie_summer.set_index(['year', 'month', 'day']).groupby(level=[0, 1, 2])['hour'].apply(list)
Lie_spread.rename(columns={'hour_unif':'iqr'}, inplace=True)

In [26]:
Lie_spread[np.logical_or(Lie_spread['iqr']>0.6, Lie_spread['iqr']<0.4)]

                     iqr  \
year month day
2004 5     26   0.375000
           27   0.395833
     6     3    0.250000
           27   0.395833
     7     30   0.375000
     8     9    0.354167

                                                                              measurements
year month day
2004 5     26           [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19]
           27     [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22]
     6     3                                 [0, 4, 5, 6, 7, 8, 9, 10, 11, 12, 21, 22, 23]
           27   [3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]
     7     30           [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 20]
     8     9                [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

**For Antwerp, although (6, 9, 12, 15, 18, 21) ignores the nighttime measurements we cannot interpolate from neighboring days as they come in rows. So, I would drop the year 1980, 1981. The other non-reliable temperatures can be interpolated from the neighboring days.**

# Daily mean computation, interpolation, dropping some years

In [27]:
Bru=Bru_summer.set_index(['year', 'month', 'day']).groupby(level=[0, 1, 2])[['temp']].mean()
Ant=Ant_summer.set_index(['year', 'month', 'day']).groupby(level=[0, 1, 2])[['temp']].mean()
Lie=Lie_summer.set_index(['year', 'month', 'day']).groupby(level=[0, 1, 2])[['temp']].mean()

In [28]:
Ant.drop([1980, 1981], level=0, axis=0, inplace=True)

In [29]:
Bru.loc[1960, 5, 25]=(Bru.xs((1960, 5, 24))+Bru.xs((1960, 5, 26)))/2
Bru.loc[2004, 6, 3]=(Bru.xs((2004, 6, 2))+Bru.xs((2004, 6, 4)))/2
Ant.loc[1964, 8, 18]=(Ant.xs((1964, 8, 17))+Ant.xs((1964, 8, 19)))/2
Ant.loc[1978, 5, 12]=(Ant.xs((1978, 5, 11))+Ant.xs((1978, 5, 13)))/2
Ant.loc[2004, 6, 3]=(Ant.xs((2004, 6, 1))+Ant.xs((2004, 6, 4)))/2
Ant.loc[2006, 6, 2]=(Ant.xs((2006, 6, 1))+Ant.xs((2006, 6, 4)))/2
Ant.loc[1978, 5, 12]=(Ant.xs((1978, 5, 11))+Ant.xs((1978, 5, 14)))/2
Ant.loc[1978, 5, 13]=(Ant.xs((1978, 5, 11))+Ant.xs((1978, 5, 14)))/2
Lie.loc[1954, 7, 29]=(Lie.xs((1954, 7, 28))+Lie.xs((1954, 7, 31)))/2
Lie.loc[1954, 7, 30]=(Lie.xs((1954, 7, 28))+Lie.xs((1954, 7, 31)))/2
Lie.loc[1976, 7, 25]=(Lie.xs((1976, 7, 24))+Lie.xs((1976, 7, 26)))/2
Lie.loc[2004, 5, 26]=(Lie.xs((2004, 5, 25))+Lie.xs((2004, 5, 27)))/2
Lie.loc[2004, 6, 3]=(Lie.xs((2004, 6, 2))+Lie.xs((2004, 6, 4)))/2
Lie.loc[2004, 7, 30]=(Lie.xs((2004, 7, 29))+Lie.xs((2004, 7, 31)))/2
Lie.loc[2004, 8, 9]=(Lie.xs((2004, 7, 29))+Lie.xs((2004, 7, 31)))/2

In [30]:
Bru_summer=Bru
Ant_summer=Ant
Lie_summer=Lie

# EHF computation

In [31]:
T_95_Bru=scoreatpercentile(Brussels.set_index(['year', 'month', 'day']).groupby(level=[0, 1, 2])[['temp']].mean().values, 95)
T_95_Ant=scoreatpercentile(Antwerp.set_index(['year', 'month', 'day']).groupby(level=[0, 1, 2])[['temp']].mean().values, 95)
T_95_Lie=scoreatpercentile(Liege.set_index(['year', 'month', 'day']).groupby(level=[0, 1, 2])[['temp']].mean().values, 95)

In [32]:
def ehi_gen(df, perc_95):
    df['3d_forw'] = df.groupby(level=0)['temp'].transform(lambda x: x.rolling(3, 3).mean(skipna=True)).shift(-2)
    df['30d_back'] = df.groupby(level=0)['temp'].transform(lambda x: x.rolling(30, 30, closed='left').mean(skipna=True))
    df['EHF_sig'] = df['3d_forw']-perc_95
    df['EHF_accl'] = df['3d_forw']-df['30d_back']
    df['EHF'] = df['EHF_sig']*df['EHF_accl'].apply(lambda x: np.nan if np.isnan(x) else max(1, x))

In [33]:
ehi_gen(Bru_summer, T_95_Bru)
ehi_gen(Ant_summer, T_95_Ant)
ehi_gen(Lie_summer, T_95_Lie)

In [34]:
Brussels=Brussels.set_index(['year', 'month', 'day']).dropna(axis=0).groupby(level=[0, 1, 2])[['temp']].mean()
Antwerp=Antwerp.set_index(['year', 'month', 'day']).dropna(axis=0).groupby(level=[0, 1, 2])[['temp']].mean()
Liege=Liege.set_index(['year', 'month', 'day']).dropna(axis=0).groupby(level=[0, 1, 2])[['temp']].mean()

In [35]:
ehi_gen(Brussels, T_95_Bru)
ehi_gen(Antwerp, T_95_Ant)
ehi_gen(Liege, T_95_Lie)

In [36]:
EHI_85_Bru=scoreatpercentile(Brussels[Brussels['EHF']>0]['EHF'], 85)
EHI_85_Ant=scoreatpercentile(Antwerp[Antwerp['EHF']>0]['EHF'], 85)
EHI_85_Lie=scoreatpercentile(Liege[Liege['EHF']>0]['EHF'], 85)

In [37]:
Bru_summer['Severe_heatwave']=Bru_summer['EHF'].apply(lambda x: "Yes" if x>=EHI_85_Bru else "No")
Ant_summer['Severe_heatwave']=Ant_summer['EHF'].apply(lambda x: "Yes" if x>=EHI_85_Ant else "No")
Lie_summer['Severe_heatwave']=Lie_summer['EHF'].apply(lambda x: "Yes" if x>=EHI_85_Lie else "No")

In [38]:
Ant_summer.loc[2006, :, :].head(150)

                temp    3d_forw   30d_back    EHF_sig  EHF_accl        EHF  \
month day
5     1     8.225000  12.795833        NaN  -7.704167       NaN        NaN
      2    12.808333  16.626389        NaN  -3.873611       NaN        NaN
      3    17.354167  18.188889        NaN  -2.311111       NaN        NaN
      4    19.716667  18.184722        NaN  -2.315278       NaN        NaN
      5    17.495833  16.856944        NaN  -3.643056       NaN        NaN
      6    17.341667  16.509722        NaN  -3.990278       NaN        NaN
      7    15.733333  15.981944        NaN  -4.518056       NaN        NaN
      8    16.454167  16.344444        NaN  -4.155556       NaN        NaN
      9    15.758333  16.819143        NaN  -3.680857       NaN        NaN
      10   16.820833  17.578865        NaN  -2.921135       NaN        NaN
      11   17.878261  17.510809        NaN  -2.989191       NaN        NaN
      12   18.037500  16.234722        NaN  -4.265278       NaN        NaN
      13   16.616667  15.609722        NaN  -4.890278       NaN        NaN
      14   14.050000  15.338889        NaN  -5.161111       NaN        NaN
      15   16.162500  15.990278        NaN  -4.509722       NaN        NaN
      16   15.804167  16.050000        NaN  -4.450000       NaN        NaN
      17   16.004167  15.120833        NaN  -5.379167       NaN        NaN
      18   16.341667  13.848611        NaN  -6.651389       NaN        NaN
      19   13.016667  13.123611        NaN  -7.376389       NaN        NaN
      20   12.187500  13.833333        NaN  -6.666667       NaN        NaN
      21   14.166667  13.423611        NaN  -7.076389       NaN        NaN
      22   15.145833  12.463889        NaN  -8.036111       NaN        NaN
      23   10.958333  11.218056        NaN  -9.281944       NaN        NaN
      24   11.287500  11.823611        NaN  -8.676389       NaN        NaN
      25   11.408333  12.670833        NaN  -7.829167       NaN        NaN
      26   12.775000  13.548611        NaN  -6.951389       NaN        NaN
      27   13.829167  13.079167        NaN  -7.420833       NaN        NaN
      28   14.041667  11.405556        NaN  -9.094444       NaN        NaN
      29   11.366667   9.845833        NaN -10.654167       NaN        NaN
      30    8.808333   9.238763        NaN -11.261237       NaN        NaN
      31    9.362500  10.161616  14.586498 -10.338384 -4.424881 -10.338384
6     1     9.545455  11.604672  14.624414  -8.895328 -3.019743  -8.895328
      2    11.576894  12.958965  14.515652  -7.541035 -1.556687  -7.541035
      3    13.691667  13.500000  14.323076  -7.000000 -0.823076  -7.000000
      4    13.608333  13.079167  14.122243  -7.420833 -1.043076  -7.420833
      5    13.200000  13.366667  13.992659  -7.133333 -0.625993  -7.133333
      6    12.429167  14.740278  13.854604  -5.759722  0.885674  -5.759722
      7    14.470833  17.186111  13.744465  -3.313889  3.441646 -11.405234
      8    17.320833  19.266848  13.678354  -1.233152  5.588494  -6.891464
      9    19.766667  20.947403  13.730437   0.447403  7.216966   3.228895
      10   20.713043  21.616486  13.828631   1.116486  7.787854   8.695026
      11   22.362500  22.863527  13.923124   2.363527  8.940402  21.130879
      12   21.773913  21.251027  14.067291   0.751027  7.183736   5.395176
      13   24.454167  18.463889  14.239199  -2.036111  4.224690  -8.601938
      14   17.525000  15.369444  14.586005  -5.130556  0.783440  -5.130556
      15   13.412500  15.361111  14.631421  -5.138889  0.729690  -5.138889
      16   15.170833  18.005556  14.551699  -2.494444  3.453856  -8.615453
      17   17.500000  19.815278  14.523921  -0.684722  5.291356  -3.623109
      18   21.345833  20.445833  14.562532  -0.054167  5.883301  -0.318679
      19   20.600000  18.720833  14.840171  -1.779167  3.880662  -6.904345
      20   19.391667  16.755556  15.120588  -3.744444  1.634968  -6.122045
      21   16.170833  15.636111  15.294755  -4.863889  0.341356  -4.863889
      22   14.704167  16.338889  15.328921  -4.161111  1.009968  -4.202587
      23   16.033333  17.287500  15.453782  -3.212500  1.833718  -5.890818
      24   18.279167  17.183635  15.611977  -3.316365  1.571658  -5.212193
      25   17.550000  15.931159  15.841005  -4.568841  0.090155  -4.568841
      26   15.721739  15.541765  16.000171  -4.958235 -0.458406  -4.958235
      27   14.521739  16.259519  16.063257  -4.240481  0.196262  -4.240481
      28   16.381818  18.516041  16.079259  -1.983959  2.436781  -4.834475
      29   17.875000  21.047859  16.246431   0.547859  4.801428   2.630506
      30   21.291304  22.917303  16.548653   2.417303  6.368650  15.394960
7     1    23.977273  23.704924  16.946280   3.204924  6.758644  21.660942
      2    23.483333  24.176389  17.427341   3.676389  6.749048  24.812125
      3    23.654167  24.661111  17.824222   4.161111  6.836889  28.449055
      4    25.391667  24.219444  18.156305   3.719444  6.063139  22.551509
      5    24.937500  22.181944  18.549083   1.681944  3.632861   6.110271
      6    22.329167  20.348611  18.940333  -0.151389  1.408278  -0.213198
      7    19.279167  19.738889  19.270333  -0.761111  0.468556  -0.761111
      8    19.437500  20.215278  19.430611  -0.284722  0.784667  -0.284722
      9    20.500000  20.770833  19.501167   0.270833  1.269667   0.343868
      10   20.708333  20.880978  19.525611   0.380978  1.355367   0.516365
      11   21.104167  20.998490  19.525454   0.498490  1.473036   0.734294
      12   20.830435  20.204046  19.483510  -0.295954  0.720536  -0.295954
      13   21.060870  19.895290  19.452060  -0.604710  0.443230  -0.604710
      14   18.720833  20.648611  19.338950   0.148611  1.309661   0.194630
      15   19.904167  22.638768  19.378811   2.138768  3.259957   6.972291
      16   23.320833  24.709601  19.595200   4.209601  5.114401  21.529590
      17   24.691304  26.145713  19.866867   5.645713  6.278846  35.448557
      18   26.116667  26.223611  20.106577   5.723611  6.117034  35.011523
      19   27.629167  26.252778  20.265605   5.752778  5.987173  34.442875
      20   24.925000  24.856944  20.499911   4.356944  4.357034  18.983355
      21   26.204167  24.061655  20.684355   3.561655  3.377300  12.028775
      22   23.441667  23.056099  21.018799   2.556099  2.037300   5.207540
      23   22.539130  23.985266  21.310049   3.485266  2.675216   9.323840
      24   23.187500  25.629167  21.526909   5.129167  4.102257  21.041162
      25   26.229167  26.169444  21.690520   5.669444  4.478924  25.393011
      26   27.470833  25.429287  21.979826   4.929287  3.449461  17.003387
      27   24.808333  23.956401  22.371462   3.456401  1.584939   5.478183
      28   24.008696  22.700845  22.714349   2.200845 -0.013504   2.200845
      29   23.052174  21.352114  22.968578   0.852114 -1.616465   0.852114
      30   21.041667  19.823128  23.141151  -0.676872 -3.318023  -0.676872
      31   19.962500  18.313406  23.132829  -2.186594 -4.819424  -2.186594
8     1    18.465217  17.150906  22.999004  -3.349094 -5.848098  -3.349094
      2    16.512500  17.034964  22.831733  -3.465036 -5.796769  -3.465036
      3    16.475000  17.997464  22.593678  -2.502536 -4.596214  -2.502536
      4    18.117391  19.151630  22.296455  -1.348370 -3.144825  -1.348370
      5    19.400000  19.258333  22.069118  -1.241667 -2.810785  -1.241667
      6    19.937500  18.572222  21.971479  -1.927778 -3.399257  -1.927778
      7    18.437500  17.030556  21.993424  -3.469444 -4.962868  -3.469444
      8    17.341667  15.986111  21.960091  -4.513889 -5.973979  -4.513889
      9    15.312500  14.580556  21.854813  -5.919444 -7.274257  -5.919444
      10   15.304167  14.105556  21.674952  -6.394444 -7.569396  -6.394444
      11   13.125000  13.873732  21.481618  -6.626268 -7.607886  -6.626268
      12   13.887500  14.454792  21.224771  -6.045208 -6.769978  -6.045208
      13   14.608696  15.043681  20.985658  -5.456319 -5.941977  -5.456319
      14   14.868182  15.738005  20.848587  -4.761995 -5.110582  -4.761995
      15   15.654167  16.928321  20.680721  -3.571679 -3.752400  -3.571679
      16   16.691667  18.010266  20.425165  -2.489734 -2.414900  -2.489734
      17   18.439130  18.378261  20.158511  -2.121739 -1.780250  -2.121739
      18   18.900000  17.816606  19.902593  -2.683394 -2.085986  -2.683394
      19   17.795652  16.770575  19.611621  -3.729425 -2.841046  -3.729425
      20   16.754167  16.140079  19.373976  -4.359921 -3.233896  -4.359921
      21   15.761905  15.976190  19.058976  -4.523810 -3.082785  -4.523810
      22   15.904167  16.188889  18.802984  -4.311111 -2.614095  -4.311111
      23   16.262500  16.286111  18.581818  -4.213889 -2.295707  -4.213889
      24   16.400000  15.983333  18.350985  -4.516667 -2.367651  -4.516667
      25   16.195833  16.211111  18.023346  -4.288889 -1.812235  -4.288889
      26   15.354167  15.736111  17.647513  -4.763889 -1.911401  -4.763889
      27   17.083333  15.091667  17.332374  -5.408333 -2.240707  -5.408333
      28   14.770833  14.211111  17.101528  -6.288889 -2.890417  -6.288889
      29   13.420833  14.558333  16.825484  -5.941667 -2.267150  -5.941667
      30   14.441667        NaN  16.571456        NaN       NaN        NaN
      31   15.812500        NaN  16.387428        NaN       NaN        NaN

          Severe_heatwave
month day
5     1                No
      2                No
      3                No
      4                No
      5                No
      6                No
      7                No
      8                No
      9                No
      10               No
      11               No
      12               No
      13               No
      14               No
      15               No
      16               No
      17               No
      18               No
      19               No
      20               No
      21               No
      22               No
      23               No
      24               No
      25               No
      26               No
      27               No
      28               No
      29               No
      30               No
      31               No
6     1                No
      2                No
      3                No
      4                No
      5                No
      6                No
      7                No
      8                No
      9                No
      10               No
      11              Yes
      12               No
      13               No
      14               No
      15               No
      16               No
      17               No
      18               No
      19               No
      20               No
      21               No
      22               No
      23               No
      24               No
      25               No
      26               No
      27               No
      28               No
      29               No
      30               No
7     1               Yes
      2               Yes
      3               Yes
      4               Yes
      5                No
      6                No
      7                No
      8                No
      9                No
      10               No
      11               No
      12               No
      13               No
      14               No
      15               No
      16              Yes
      17              Yes
      18              Yes
      19              Yes
      20              Yes
      21               No
      22               No
      23               No
      24              Yes
      25              Yes
      26               No
      27               No
      28               No
      29               No
      30               No
      31               No
8     1                No
      2                No
      3                No
      4                No
      5                No
      6                No
      7                No
      8                No
      9                No
      10               No
      11               No
      12               No
      13               No
      14               No
      15               No
      16               No
      17               No
      18               No
      19               No
      20               No
      21               No
      22               No
      23               No
      24               No
      25               No
      26               No
      27               No
      28               No
      29               No
      30               No
      31               No