In [45]:
import numpy as np
import pandas as pd

# Introduction

**We know that that heatwave is the extented period of time when extremely high temperatures are observed relative to the climate of the location. In many literatures the severity of the heatwave is represented by the Excess Heat Factor (EHF) [Nairn et al., 2015](https://pubmed.ncbi.nlm.nih.gov/25546282/) and mathematically it is defined to be:**

$$EHF=EHI_{sig}*max(1, EHI_{accl})$$

where

$$EHI_{sig}=(T_i+T_{i+1}+T_{i+2}/3-T_{95})$$ 
$$EHI_{accl}=(T_i+T_{i+1}+T_{i+2}/3-T_i+T_{i-1}+...+T_{i-30}/30)$$

**$T_{95}$ is calculated by taking the 95th percetile of the DMTs. DMT of the day if found as the mean of the highest and the lowest temperatures of the given day**

# Data collection

**Using [Opendata meteo.be](https://opendata.meteo.be) the following temperature data was collected in csv format:**

*Cities: Brussels, Antwerp, Liege*

*Period: 1952-2021*

*Frequency: Hourly*

# Data cleaning and transformation

In [46]:
Bru=pd.read_csv("./data/Brussels.csv")
Ant=pd.read_csv("./data/Antwerp.csv")
Lie=pd.read_csv("./data/Liege.csv")

In [47]:
Bru.head()

,FID,the_geom,code,timestamp,precip_quantity,precip_range,temp,temp_min,temp_max,temp_grass_min,...,wind_speed_unit,wind_direction,wind_peak_speed,humidity_relative,weather_current,pressure,pressure_station_level,sun_duration_24hours,short_wave_from_sky_24hours,cloudiness
0,synop_data.6451.1952-01-01 00:00:00+00,POINT (50.896391 4.526765),6451,1952-01-01T00:00:00,NaN,NaN,3.0,NaN,NaN,NaN,...,NaN,90.0,NaN,NaN,61.0,1005.5,NaN,NaN,NaN,8.0
1,synop_data.6451.1952-01-01 03:00:00+00,POINT (50.896391 4.526765),6451,1952-01-01T03:00:00,NaN,NaN,3.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,50.0,1003.1,NaN,NaN,NaN,8.0
2,synop_data.6451.1952-01-01 06:00:00+00,POINT (50.896391 4.526765),6451,1952-01-01T06:00:00,2.0,2.0,3.0,3.0,NaN,NaN,...,NaN,250.0,NaN,NaN,51.0,1004.0,NaN,NaN,NaN,8.0
3,synop_data.6451.1952-01-01 09:00:00+00,POINT (50.896391 4.526765),6451,1952-01-01T09:00:00,NaN,NaN,3.0,NaN,NaN,NaN,...,NaN,270.0,NaN,NaN,21.0,1006.9,NaN,NaN,NaN,5.0
4,synop_data.6451.1952-01-01 12:00:00+00,POINT (50.896391 4.526765),6451,1952-01-01T12:00:00,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,260.0,NaN,NaN,25.0,1009.2,NaN,NaN,NaN,6.0

**As we are using only the information on temperature we need to keep only the timestamp and the temperature**

In [48]:
Bru=Bru[["timestamp", "temp"]]
Ant=Ant[["timestamp", "temp"]]
Lie=Lie[["timestamp", "temp"]]

In [52]:
Bru.head()

             timestamp  temp
0  1952-01-01T00:00:00   3.0
1  1952-01-01T03:00:00   3.0
2  1952-01-01T06:00:00   3.0
3  1952-01-01T09:00:00   3.0
4  1952-01-01T12:00:00   4.0

In [53]:
cities=[Bru, Ant, Lie]
for city in cities:
    city['timestamp_formatted']=pd.to_datetime(city['timestamp'])

In [54]:
Bru.head()

             timestamp  temp timestamp_formatted
0  1952-01-01T00:00:00   3.0 1952-01-01 00:00:00
1  1952-01-01T03:00:00   3.0 1952-01-01 03:00:00
2  1952-01-01T06:00:00   3.0 1952-01-01 06:00:00
3  1952-01-01T09:00:00   3.0 1952-01-01 09:00:00
4  1952-01-01T12:00:00   4.0 1952-01-01 12:00:00

In [55]:
Bru.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420595 entries, 0 to 420594
Data columns (total 3 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   timestamp            420595 non-null  object
 1   temp                 420261 non-null  float64
 2   timestamp_formatted  420595 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 9.6+ MB

In [63]:
for city in cities:
    city['year']=city['timestamp_formatted'].dt.year
    city['month']=city['timestamp_formatted'].dt.month
    city['day']=city['timestamp_formatted'].dt.day
    city['hour']=city['timestamp_formatted'].dt.hour
    city.drop(labels=['timestamp','timestamp_formatted'], axis=1, inplace=True)

In [66]:
Bru.head(10)

   temp  year  month  day  hour
0   3.0  1952      1    1     0
1   3.0  1952      1    1     3
2   3.0  1952      1    1     6
3   3.0  1952      1    1     9
4   4.0  1952      1    1    12
5   5.0  1952      1    1    15
6   3.0  1952      1    1    18
7   2.0  1952      1    1    21
8   3.0  1952      1    2     0
9   3.0  1952      1    2     3

In [67]:
Bru.isna().sum()/Bru.shape[0]

temp     0.000794
year     0.000000
month    0.000000
day      0.000000
hour     0.000000
dtype: float64

In [68]:
Ant.isna().sum()/Ant.shape[0]

temp     0.034075
year     0.000000
month    0.000000
day      0.000000
hour     0.000000
dtype: float64

In [69]:
Lie.isna().sum()/Lie.shape[0]

temp     0.009356
year     0.000000
month    0.000000
day      0.000000
hour     0.000000
dtype: float64

**At this point we know that historically the measurements start at 00:00 and ends at 21:00 with 3 hours period (but different for some cities) before they started taking measurements every hour in some cities, but we see that there are missing temperatures. Thus, it needs to be researched if there are days where the temperatures were not recorded at all. If is partially recorded, see if it influences our analysis (possibility of smart imputation).**

In [93]:
Bru_na_year=Bru.set_index(['year']).isna().groupby(level=[0]).sum()
Ant_na_year=Ant.set_index(['year']).isna().groupby(level=[0]).sum()
Lie_na_year=Lie.set_index(['year']).isna().groupby(level=[0]).sum()

In [107]:
pd.set_option('display.max_rows', 100)

In [108]:
pd.DataFrame(data={'Bru': Bru_na_year[Bru_na_year['temp']>0]['temp'], "Ant": Ant_na_year[Ant_na_year['temp']>0]['temp'], "Lie": Lie_na_year[Lie_na_year['temp']>0]['temp']})

        Bru    Ant     Lie
year
1952   58.0    1.0  1103.0
1953    1.0    4.0  1235.0
1954    NaN    NaN  1011.0
1955    1.0    NaN    14.0
1956    1.0  422.0     1.0
1957    1.0  825.0     5.0
1958    1.0  588.0     4.0
1959    NaN  776.0     NaN
1960    9.0  840.0     NaN
1961    2.0  854.0     1.0
1962    4.0  900.0     2.0
1963    NaN  970.0     1.0
1964    3.0  960.0     1.0
1965    1.0  960.0     4.0
1966    1.0  927.0     2.0
1967    2.0  816.0     4.0
1968    1.0  757.0     5.0
1969    NaN  738.0     4.0
1970    NaN  783.0     3.0
1971    2.0  787.0     4.0
1972    2.0  748.0     3.0
1973    NaN  242.0     1.0
1974    2.0   10.0     3.0
1975    NaN    3.0     2.0
1976    4.0    2.0     9.0
1977    3.0    5.0     4.0
1978    NaN   11.0     2.0
1979    NaN   16.0     2.0
1980    NaN    8.0     NaN
1981    NaN    1.0     NaN
1983    NaN    3.0     NaN
1985    NaN    2.0     NaN
1988    1.0    NaN     1.0
1989  188.0  177.0   266.0
1990   42.0   30.0   123.0
1992    1.0   28.0     NaN
1994    NaN    6.0     NaN
1995    NaN    4.0     NaN
1996    NaN   12.0     NaN
1997    NaN    6.0     NaN
1998    NaN    9.0     4.0
2000    NaN    NaN     1.0
2001    NaN    3.0     NaN
2002    NaN   10.0     NaN
2004    1.0    5.0     7.0
2005    NaN    NaN    68.0
2006    NaN    2.0     4.0
2007    NaN    NaN     1.0
2008    NaN   14.0     NaN
2009    NaN   14.0     3.0
2010    NaN    9.0     NaN
2011    NaN    1.0     NaN
2012    NaN    3.0     NaN
2014    NaN    5.0     2.0
2015    1.0    1.0     NaN
2016    NaN    1.0     NaN
2017    1.0    NaN     9.0
2018    NaN    6.0     1.0
2019    NaN   14.0     2.0
2020    NaN    4.0     NaN
2021    NaN    4.0     2.0

In [109]:
Bru_na_month=Bru.set_index(['month']).isna().groupby(level=[0]).sum()
Ant_na_month=Ant.set_index(['month']).isna().groupby(level=[0]).sum()
Lie_na_month=Lie.set_index(['month']).isna().groupby(level=[0]).sum()

In [110]:
pd.DataFrame(data={'Bru': Bru_na_month[Bru_na_month['temp']>0]['temp'], "Ant": Ant_na_month[Ant_na_month['temp']>0]['temp'], "Lie": Lie_na_month[Lie_na_month['temp']>0]['temp']})

       Bru   Ant  Lie
month
1        6  1236  351
2       68  1138  337
3        9  1208  395
4       30  1191  326
5       11  1154  287
6        3  1122  285
7        4  1234  300
8        1  1185  303
9        4  1110  335
10      40  1201  286
11      76  1230  358
12      82  1318  361

In [111]:
Bru_na=Bru.set_index(['year', 'month', 'day']).isna().groupby(level=[0, 1, 2]).sum()
Ant_na=Ant.set_index(['year', 'month', 'day']).isna().groupby(level=[0, 1, 2]).sum()
Lie_na=Lie.set_index(['year', 'month', 'day']).isna().groupby(level=[0, 1, 2]).sum()

In [131]:
Bru_count=Bru.set_index(['year', 'month', 'day']).groupby(level=[0, 1, 2]).count()
Ant_count=Ant.set_index(['year', 'month', 'day']).groupby(level=[0, 1, 2]).count()
Lie_count=Lie.set_index(['year', 'month', 'day']).groupby(level=[0, 1, 2]).count()

In [153]:
Bru_na[np.logical_and(Bru_na['temp']>0, Bru_na.index.isin([6, 7, 8], level=1))][['temp']]

                temp
year month day
1953 6     1       1
1966 7     11      1
1967 7     1       1
1976 6     6       1
     7     6       1
1977 7     1       1
     8     13      1
1988 6     27      1

**Here we are okay as there is only one of the measures missing throughout the day for Brussels**

In [124]:
Ant_na[np.logical_and(Ant_na['temp']>8, Ant_na.index.isin([6, 7, 8], level=1))][['temp']]

                temp
year month day
1992 6     22     17
           23     10
2008 7     27     13

In [150]:
sum(Ant_count[np.logical_and(Ant_count['hour']==24, Ant_na.index.isin([1992, 2008], level=0))]['hour']!=24)

0

**As we see it is the years where there were 24 measurements a day, thus the na problem is not bad for Antwerp**

In [170]:
Lie_na[np.logical_and(Lie_na['temp']>3, Lie_na.index.isin([6, 7, 8], level=1))][['temp']]

                temp
year month day
1952 8     11      4
           12      4
1954 7     29      6
           30      6
           31      4
     8     5       4
           6       4
           7       4
           8       4
           9       4
           10      4
           14      4
           15      4
           19      4
           22      4
           24      4
           27      4
1976 7     25      7

In [167]:
Lie_count[Lie_count['hour']==24].index.unique(level=0)

Int64Index([1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995,
            1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006,
            2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017,
            2018, 2019, 2020, 2021],
           dtype='int64', name='year')

**As half and more than half for the Liege, the missing values have to be treated well here depending on when the known temperatures were recorded**