In [1]:
import numpy as np
import pandas as pd
from scipy.stats import iqr, scoreatpercentile

# Introduction

**We know that that heatwave is the extented period of time when extremely high temperatures are observed relative to the climate of the location. In many literatures the severity of the heatwave is represented by the Excess Heat Factor (EHF) [Nairn et al., 2015](https://pubmed.ncbi.nlm.nih.gov/25546282/) and mathematically it is defined to be:**

$$EHF=EHI_{sig}*max(1, EHI_{accl})$$

where

$$EHI_{sig}=(T_i+T_{i+1}+T_{i+2})/3-T_{95}$$ 
$$EHI_{accl}=(T_i+T_{i+1}+T_{i+2})/3-(T_{i-1}+T_{i-2}+...+T_{i-30})/30$$

**$T_{95}$ is calculated by taking the 95th percetile of the $T_i$s thoughout the year. $T_i$ of the day is found as the mean of the temperatures recorded on the day. Of course the measurements must be equally spaced. Then if we find out that the EHF is a positive number, the three days $T_i, T_{
i+1}, T_{i+2}$ are considered heatwave days**

# Data collection

**Using [Opendata meteo.be](https://opendata.meteo.be) the following temperature data was collected in csv format:**

*Cities: Brussels, Antwerp, Liege*

*Period: 1952-2021*

*Frequency: Hourly*

# Data cleaning and transformation

In [2]:
Brussels=pd.read_csv("./data/Brussels.csv")
Antwerp=pd.read_csv("./data/Antwerp.csv")
Liege=pd.read_csv("./data/Liege.csv")

In [3]:
Brussels.head()

,FID,the_geom,code,timestamp,precip_quantity,precip_range,temp,temp_min,temp_max,temp_grass_min,...,wind_speed_unit,wind_direction,wind_peak_speed,humidity_relative,weather_current,pressure,pressure_station_level,sun_duration_24hours,short_wave_from_sky_24hours,cloudiness
0,synop_data.6451.1952-01-01 00:00:00+00,POINT (50.896391 4.526765),6451,1952-01-01T00:00:00,NaN,NaN,3.0,NaN,NaN,NaN,...,NaN,90.0,NaN,NaN,61.0,1005.5,NaN,NaN,NaN,8.0
1,synop_data.6451.1952-01-01 03:00:00+00,POINT (50.896391 4.526765),6451,1952-01-01T03:00:00,NaN,NaN,3.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,50.0,1003.1,NaN,NaN,NaN,8.0
2,synop_data.6451.1952-01-01 06:00:00+00,POINT (50.896391 4.526765),6451,1952-01-01T06:00:00,2.0,2.0,3.0,3.0,NaN,NaN,...,NaN,250.0,NaN,NaN,51.0,1004.0,NaN,NaN,NaN,8.0
3,synop_data.6451.1952-01-01 09:00:00+00,POINT (50.896391 4.526765),6451,1952-01-01T09:00:00,NaN,NaN,3.0,NaN,NaN,NaN,...,NaN,270.0,NaN,NaN,21.0,1006.9,NaN,NaN,NaN,5.0
4,synop_data.6451.1952-01-01 12:00:00+00,POINT (50.896391 4.526765),6451,1952-01-01T12:00:00,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,260.0,NaN,NaN,25.0,1009.2,NaN,NaN,NaN,6.0

**As we are using only the information on temperature we need to keep only the timestamp and the temperature**

In [4]:
Brussels=Brussels[["timestamp", "temp"]]
Antwerp=Antwerp[["timestamp", "temp"]]
Liege=Liege[["timestamp", "temp"]]

In [5]:
Brussels.head()

             timestamp  temp
0  1952-01-01T00:00:00   3.0
1  1952-01-01T03:00:00   3.0
2  1952-01-01T06:00:00   3.0
3  1952-01-01T09:00:00   3.0
4  1952-01-01T12:00:00   4.0

In [6]:
cities=[Brussels, Antwerp, Liege]
for city in cities:
    city['timestamp_formatted']=pd.to_datetime(city['timestamp'])

In [7]:
Brussels.head()

             timestamp  temp timestamp_formatted
0  1952-01-01T00:00:00   3.0 1952-01-01 00:00:00
1  1952-01-01T03:00:00   3.0 1952-01-01 03:00:00
2  1952-01-01T06:00:00   3.0 1952-01-01 06:00:00
3  1952-01-01T09:00:00   3.0 1952-01-01 09:00:00
4  1952-01-01T12:00:00   4.0 1952-01-01 12:00:00

In [8]:
Brussels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420595 entries, 0 to 420594
Data columns (total 3 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   timestamp            420595 non-null  object
 1   temp                 420261 non-null  float64
 2   timestamp_formatted  420595 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 9.6+ MB

In [9]:
for city in cities:
    city['year']=city['timestamp_formatted'].dt.year
    city['month']=city['timestamp_formatted'].dt.month
    city['day']=city['timestamp_formatted'].dt.day
    city['hour']=city['timestamp_formatted'].dt.hour
    city.drop(labels=['timestamp','timestamp_formatted'], axis=1, inplace=True)

In [10]:
Brussels.head(10)

   temp  year  month  day  hour
0   3.0  1952      1    1     0
1   3.0  1952      1    1     3
2   3.0  1952      1    1     6
3   3.0  1952      1    1     9
4   4.0  1952      1    1    12
5   5.0  1952      1    1    15
6   3.0  1952      1    1    18
7   2.0  1952      1    1    21
8   3.0  1952      1    2     0
9   3.0  1952      1    2     3

In [11]:
Bru_summer=Brussels[Brussels['month'].isin([5,6,7,8])]

In [12]:
Ant_summer=Antwerp[Antwerp['month'].isin([5,6,7,8])]

In [13]:
Lie_summer=Liege[Liege['month'].isin([5,6,7,8])]

**Problems might arise with calculating the mean teperature of the day correctly**
1. Not enough observations 
2. Observations are not regularly spaced

# 1

**Here we find the days where the number of observations was less than 4**

In [14]:
pd.set_option('display.max_rows', 300)

In [15]:
Bru_count=Bru_summer.set_index(['year', 'month', 'day']).groupby(level=[0, 1, 2]).count()[['temp']]
Bru_count[Bru_count['temp']<4]

                temp
year month day
1960 5     25      0

In [16]:
Ant_count=Ant_summer.set_index(['year', 'month', 'day']).groupby(level=[0, 1, 2]).count()[['temp']]
Ant_count[Ant_count['temp']<4]

                temp
year month day
1964 8     18      0
1978 5     12      2

In [17]:
Lie_count=Lie_summer.set_index(['year', 'month', 'day']).groupby(level=[0, 1, 2]).count()[['temp']]
Lie_count[Lie_count['temp']<4]

                temp
year month day
1954 7     29      2
           30      2
1976 7     25      1

**Thus, we see that for Brussels there is only one day where we have no observation at all. For Antwerp, there are two days for which the number of observations is less than 4. For Liege, that number is only 3.**

# 2

**Here we check if the observations are regularly spaced (at least close to)**

In [18]:
Bru_summer=Bru_summer.reset_index().drop(columns=["index"])
Ant_summer=Ant_summer.reset_index().drop(columns=["index"])
Lie_summer=Lie_summer.reset_index().drop(columns=["index"])

In [19]:
Bru_summer['hour_unif']=Bru_summer['hour'].apply(lambda x: x/24)
Ant_summer['hour_unif']=Ant_summer['hour'].apply(lambda x: x/24)
Lie_summer['hour_unif']=Lie_summer['hour'].apply(lambda x: x/24)

In [20]:
pd.set_option('max_colwidth', None)

In [21]:
Bru_spread=Bru_summer.set_index(['year', 'month', 'day']).groupby(level=[0, 1, 2])[['hour_unif']].agg(iqr)
Bru_spread['measurements']=Bru_summer.set_index(['year', 'month', 'day']).groupby(level=[0, 1, 2])['hour'].apply(list)
Bru_spread.rename(columns={'hour_unif':'iqr'}, inplace=True)

In [22]:
Bru_spread[np.logical_or(Bru_spread['iqr']>0.6, Bru_spread['iqr']<0.4)]

                 iqr                                   measurements
year month day
2004 6     3    0.25  [0, 4, 5, 6, 7, 8, 9, 10, 11, 12, 21, 22, 23]

In [23]:
Ant_spread=Ant_summer.set_index(['year', 'month', 'day']).groupby(level=[0, 1, 2])[['hour_unif']].agg(iqr)
Ant_spread['measurements']=Ant_summer.set_index(['year', 'month', 'day']).groupby(level=[0, 1, 2])['hour'].apply(list)
Ant_spread.rename(columns={'hour_unif':'iqr'}, inplace=True)

In [24]:
Ant_spread[np.logical_or(Ant_spread['iqr']>0.6, Ant_spread['iqr']<0.4)]

                     iqr  \
year month day
1978 5     12   0.062500
           13   0.312500
1980 5     3    0.312500
     7     26   0.312500
     8     2    0.312500
           3    0.312500
           4    0.312500
           5    0.312500
           6    0.312500
           7    0.312500
           8    0.312500
           9    0.312500
           10   0.312500
           11   0.312500
           19   0.312500
           20   0.312500
1981 7     7    0.312500
           8    0.312500
           9    0.312500
2004 6     3    0.250000
2006 6     2    0.333333

                                                                     measurements
year month day
1978 5     12                                                              [0, 3]
           13                                              [6, 9, 12, 15, 18, 21]
1980 5     3                                               [6, 9, 12, 15, 18, 21]
     7     26                                              [6, 9, 12, 15, 18, 21]
     8     2                                               [6, 9, 12, 15, 18, 21]
           3                                               [6, 9, 12, 15, 18, 21]
           4                                               [6, 9, 12, 15, 18, 21]
           5                                               [6, 9, 12, 15, 18, 21]
           6                                               [6, 9, 12, 15, 18, 21]
           7                                               [6, 9, 12, 15, 18, 21]
           8                                               [6, 9, 12, 15, 18, 21]
           9                                               [6, 9, 12, 15, 18, 21]
           10                                              [6, 9, 12, 15, 18, 21]
           11                                              [6, 9, 12, 15, 18, 21]
           19                                              [6, 9, 12, 15, 18, 21]
           20                                              [6, 9, 12, 15, 18, 21]
1981 7     7                                               [6, 9, 12, 15, 18, 21]
           8                                               [6, 9, 12, 15, 18, 21]
           9                                               [6, 9, 12, 15, 18, 21]
2004 6     3                        [0, 4, 5, 6, 7, 8, 9, 10, 11, 12, 21, 22, 23]
2006 6     2    [7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]

In [25]:
Lie_spread=Lie_summer.set_index(['year', 'month', 'day']).groupby(level=[0, 1, 2])[['hour_unif']].agg(iqr)
Lie_spread['measurements']=Lie_summer.set_index(['year', 'month', 'day']).groupby(level=[0, 1, 2])['hour'].apply(list)
Lie_spread.rename(columns={'hour_unif':'iqr'}, inplace=True)

In [26]:
Lie_spread[np.logical_or(Lie_spread['iqr']>0.6, Lie_spread['iqr']<0.4)]

                     iqr  \
year month day
2004 5     26   0.375000
           27   0.395833
     6     3    0.250000
           27   0.395833
     7     30   0.375000
     8     9    0.354167

                                                                              measurements
year month day
2004 5     26           [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19]
           27     [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22]
     6     3                                 [0, 4, 5, 6, 7, 8, 9, 10, 11, 12, 21, 22, 23]
           27   [3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]
     7     30           [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 20]
     8     9                [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

**For Antwerp, although (6, 9, 12, 15, 18, 21) ignores the nighttime measurements we cannot interpolate from neighboring days as they come in rows. So, I would drop the year 1980, 1981. The other non-reliable temperatures can be interpolated from the neighboring days.**

# Daily mean computation, interpolation, dropping some years

In [27]:
Bru=Bru_summer.set_index(['year', 'month', 'day']).groupby(level=[0, 1, 2])[['temp']].mean()
Ant=Ant_summer.set_index(['year', 'month', 'day']).groupby(level=[0, 1, 2])[['temp']].mean()
Lie=Lie_summer.set_index(['year', 'month', 'day']).groupby(level=[0, 1, 2])[['temp']].mean()

In [28]:
Ant.drop([1980, 1981], level=0, axis=0, inplace=True)

In [29]:
Bru.loc[1960, 5, 25]=(Bru.xs((1960, 5, 24))+Bru.xs((1960, 5, 26)))/2
Bru.loc[2004, 6, 3]=(Bru.xs((2004, 6, 2))+Bru.xs((2004, 6, 4)))/2
Ant.loc[1964, 8, 18]=(Ant.xs((1964, 8, 17))+Ant.xs((1964, 8, 19)))/2
Ant.loc[1978, 5, 12]=(Ant.xs((1978, 5, 11))+Ant.xs((1978, 5, 13)))/2
Ant.loc[2004, 6, 3]=(Ant.xs((2004, 6, 1))+Ant.xs((2004, 6, 4)))/2
Ant.loc[2006, 6, 2]=(Ant.xs((2006, 6, 1))+Ant.xs((2006, 6, 4)))/2
Ant.loc[1978, 5, 12]=(Ant.xs((1978, 5, 11))+Ant.xs((1978, 5, 14)))/2
Ant.loc[1978, 5, 13]=(Ant.xs((1978, 5, 11))+Ant.xs((1978, 5, 14)))/2
Lie.loc[1954, 7, 29]=(Lie.xs((1954, 7, 28))+Lie.xs((1954, 7, 31)))/2
Lie.loc[1954, 7, 30]=(Lie.xs((1954, 7, 28))+Lie.xs((1954, 7, 31)))/2
Lie.loc[1976, 7, 25]=(Lie.xs((1976, 7, 24))+Lie.xs((1976, 7, 26)))/2
Lie.loc[2004, 5, 26]=(Lie.xs((2004, 5, 25))+Lie.xs((2004, 5, 27)))/2
Lie.loc[2004, 6, 3]=(Lie.xs((2004, 6, 2))+Lie.xs((2004, 6, 4)))/2
Lie.loc[2004, 7, 30]=(Lie.xs((2004, 7, 29))+Lie.xs((2004, 7, 31)))/2
Lie.loc[2004, 8, 9]=(Lie.xs((2004, 7, 29))+Lie.xs((2004, 7, 31)))/2

In [30]:
Bru_summer=Bru
Ant_summer=Ant
Lie_summer=Lie

# EHF computation

In [44]:
T_95_Bru=scoreatpercentile(Brussels.set_index(['year', 'month', 'day']).groupby(level=[0, 1, 2])[['temp']].mean().values, 95)
T_95_Ant=scoreatpercentile(Antwerp.set_index(['year', 'month', 'day']).groupby(level=[0, 1, 2])[['temp']].mean().values, 95)
T_95_Lie=scoreatpercentile(Liege.set_index(['year', 'month', 'day']).groupby(level=[0, 1, 2])[['temp']].mean().values, 95)

In [45]:
Bru_summer['3d_forw'] = Bru_summer.groupby(level=0)['temp'].transform(lambda x: x.rolling(3, 3).mean()).shift(-2)
Ant_summer['3d_forw'] = Ant_summer.groupby(level=0)['temp'].transform(lambda x: x.rolling(3, 3).mean()).shift(-2)
Lie_summer['3d_forw'] = Lie_summer.groupby(level=0)['temp'].transform(lambda x: x.rolling(3, 3).mean()).shift(-2)

In [46]:
Bru_summer['30d_back'] = Bru_summer.groupby(level=0)['temp'].transform(lambda x: x.rolling(30, 30, closed='left').mean())
Ant_summer['30d_back'] = Ant_summer.groupby(level=0)['temp'].transform(lambda x: x.rolling(30, 30, closed='left').mean())
Lie_summer['30d_back'] = Lie_summer.groupby(level=0)['temp'].transform(lambda x: x.rolling(30, 30, closed='left').mean())

In [ ]:
Bru_summer['EHI_'] = Bru_summer.groupby(level=0)['temp'].transform(lambda x: x.rolling(30, 30, closed='left').mean())
Ant_summer['30d_back'] = Ant_summer.groupby(level=0)['temp'].transform(lambda x: x.rolling(30, 30).mean())
Lie_summer['30d_back'] = Lie_summer.groupby(level=0)['temp'].transform(lambda x: x.rolling(30, 30).mean())